p, h1, h2 {
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}


.hero {
    background-image: url(./images/hero.jpg);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-logo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.log-in {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;    
}

.sign-up {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: rgba(26, 25, 21, 0.0001);
    border: 2px solid #FFFFFF;
    height: 39px;
    width: 93px;
    border-radius: 30px;
    justify-content: center;
}

.hero-boks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-title{
width: 508px;
font-family: 'Montserrat';
font-weight: 700;
font-size: 52px;
line-height: 63px;
text-align: center;
text-transform: uppercase;
margin-left: auto;
margin-right: auto;
margin-top: 125px;
margin-bottom: 36px;

color: #FFFFFF;

}

.hero-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 33px;
    
    color: #FFFFFF;

}

.hero-but{
    display: block;
width: 228px;
height: 43px;
margin-left: auto;
margin-right: auto;

background: #FF4E50;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
border: none;
border-radius: 30px;
text-align: center;

color: #FFFFFF;

}

.partners {
    padding-top: 70px;
}

.partners-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    
    color: #333333;
    margin-bottom: 31px;
     
}


.foto-item{
    width: 200px;
    margin-right: 30px;
    text-align: center;
    
}

.foto-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.partners-name {
    margin-top: 16px;
    margin-bottom: 13px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14.0112px;
line-height: 17px;
color: #333333;
}
.partners-text {
    font-family: 'Roboto';
    font-weight: 300;
font-size: 14.0112px;
line-height: 16px;
color: #666666;
}